@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  background-image: url("./Assets/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  margin: 20px;
}
